# Ignorar carpetas de entorno de desarrollo
.idea/
cmake-build-*/

# Archivos de compilación
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Archivos temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db